@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root {
    --primary-color: #4475F2;
    --description: #5E6282;
    --heading: #181E4B;
    --link-unactive: #9A9EA6;
    --link-active: #4737FF;
}

*{
    font-family: "Plus Jakarta Sans", sans-serif;
    scroll-behavior: smooth;
}

nav{
    transition: all .2s ease;
}

.link-style a{
    text-decoration: none;
    color: var(--link-unactive);
    margin: 10px;
}

.link-style a:hover{
    border-bottom: 1px solid royalblue;
}

a.active{
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
}

nav.bg-active{
    background-color: var(--heading);
    padding: 15px;
}

span.color-active{
    color: white;
}

.bg-hero{
    background-image: url(/Cover.png);
    background-repeat: no-repeat;
    background-position: right;
}

.title-hero{
    color: var(--heading);
    font-weight: 800;
    font-size: 4rem;
}

.title-hero span {
    color: var(--primary-color);
}

.description-hero{
    color: var(--description);
}

.left-hero button{
    border: none;
    padding: 10px 35px 10px 35px;
    background-color: var(--primary-color);
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    color: white;
}

.feature-page{
    margin-top: 70px;
}

.feature-page p:nth-child(1){
    color: var(--primary-color);
    margin: 8px;
    font-weight: 700;
    font-size: 1rem;
}

.feature-content p{
    color: var(--description);
}









@media only screen and (max-width: 1100px) {
    .image-hero {
        width: 480px;
    }
    .title-hero{
        font-size: 2rem;
    }
}

@media only screen and (max-width: 1000px) {
    .bg-hero{
        background-position: right;
        background-position-x: 150% ;
    }
    .image-hero{
        width: 450px;
    }
    .title-hero{
        font-size: 2rem;
    }
}
@media only screen and (max-width: 915px) {
    .bg-hero{
        background-position: right;
        background-position-x: 240px;
        height: auto;
    }
    .image-hero{
        width: 350px;
    }
    .title-hero{
        font-size: 2rem;
    }
}
@media only screen and (max-width: 769px) {
    .title-hero{
        margin-top: 80px;
    }
    .image-hero{
        display: none;
    }
    .section-hero{
        height: max-content !important;
        margin-bottom: 70px;
    }
    .bg-hero{
        background: none;
    }
    #basic-navbar-nav{
        background-color: var(--heading);
        padding-top: 30px;
        padding-bottom: 30px;
        border-radius: 10px;
    }
    .navbar-nav{
        gap: 8px;
    }
    .navbar-nav .link-style:nth-child(5){
        margin-bottom: 8px;
    }
    .navbar-toggler{
        background-color: white;
    }
}